In [9]:
import json
import pandas as pd
with open('data.json', 'r') as file:
    data = json.load(file)

In [10]:
data

{'id': '1',
 'first': 'val',
 'second': {'one': 'val', 'two': 'val', 'three': 'val'}}

In [11]:
df = pd.json_normalize(data)

In [12]:
df

  id first second.one second.two second.three
0  1   val        val        val          val